.contact-section {
  margin: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.contact-form-container {
  width: min(80%, 800px);
}

@media screen and (max-width: 600px) {
  .contact-section {
    margin: 20px 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .contact-form-container {
    width: 100%;
  }
}

.contact-form {
  margin: 1rem 0;
}

label {
  color: var(--text-color);
}

input[type="text"],
input[type="email"],
textarea {
  background-color: rgba(0, 0, 0, 0.02);
  font-size: 0.8em;
  border: 1px solid black;
  width: 100%;
  padding: 12px 15px;
  margin: 4px 0 12px 0;
  box-sizing: border-box;
  border-radius: 2px;
}

textarea {
  resize: vertical;
  height: 100px;
  min-height: 39px;
}

input:focus,
textarea:focus {
  outline: none !important;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  font-size: 1em;
  padding: 5px 30px;
  border-radius: 2px;
}

.sent-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.is-fetching-spinner {
  margin: 0px 20px;
  height: 40px;
  width: 40px;
}
