.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  box-shadow: 1px 1px 1px var(--bg-dark);
}

.navbar-item-list {
  display: flex;
  list-style: none;
}

.navbar-item {
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.navbar-item:hover {
  background-color: rgba(255, 255, 255, 0.07);
}
