#cover {
  width: 100%;
  background-image: url("./assets/images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 200px;
}

#main-container {
  margin: 20px 96px;
}

.splitter {
  margin: 10px;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  height: 38px;
}

.navbar-item {
  font-weight: 800;
  font-size: 16px;
  line-height: 38px;
  text-decoration-line: underline;
  cursor: pointer;
  text-align: center;
}

.lang-container {
  position: absolute;
  right: 0px;
  margin: 5px;
}

.lang-button {
  display: inline-block;
  border: none;
  border-radius: 3px;
  margin: 2px;
  color: #ffffff;
  background: none;
  outline: 0;
  cursor: pointer;
}

.lang-button-active {
  background: var(--accent-color2);
}
