:root {
  --accent-color: #c2c8ff;
  --text-color: #373530;
}

* {
  margin: 0;
  font-family: inter, Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
