:root {
  --bg-dark: #121212;
  --bg-medium: #283857;
  --bg-light: #c1d6ff;
  --accent-light: #b2c8ff;
  --text-high-emphasis: rgba(255, 255, 255, 0.95);
  --text-medium-emphasis: rgba(255, 255, 255, 0.6);
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #121212;
}

ul {
  list-style-type: none;
  padding: 0;
}
